body {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      #main {
        position: relative;
        box-shadow: 3px 3px 3px 3px black;
        height: 500px;
        width: 1920px;
        max-width: 90%;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        overflow: hidden;
        border-radius: 30px;
      }
      #main::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(30px);
        background: hsl(0, 0%, 100%, 0.3);
        z-index: -1;
      }
      #bg {
        position: fixed;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-size: cover;
        z-index: -1;
        filter: blur(5px);
        border-radius: 30px;
      }
      #bg img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
      }
      #d1 {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: hsl(0, 0%, 100%, 0.7);
      }
      #d1-1 {
        flex: 1;
        text-align: center;
      }
      #d1-2 {
        flex: 1;
        text-align: center;
      }
      #d1-2 input {
        opacity: 0;
        transition: opacity 1.5s;
      }
      #d1-3 {
        text-align: center;
      }
      #d1-3 input {
        appearance: auto;
      }
      #d2 {
        flex: 2;
        text-align: center;
        background: hsl(0, 0%, 100%, 0.7);
      }
      #d3 {
        flex: 1;
        background: hsl(0, 0%, 100%, 0.7);
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      #d3-1 {
        flex: 1;
      }
      #d3-2 {
        flex: 1;
      }
      span:hover,
      span input:hover,
      #get,
      .pic,
      #login {
        cursor: pointer;
        font-weight: bolder;
      }
      .slide {
        position: relative;
        margin: 30px;
        overflow: hidden;
        height: 400px;
        width: 900px;
        border-radius: 30px;
        box-shadow: 3px 3px 3px 3px black;
      }
      .slide img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: none;
      }